@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;1,300&family=Style+Script&display=swap');

/* CSS HEX 
/Color Swatches --baby-pink: #efc7c2ff;
--champagne-pink: #ffe5d4ff;
--cambridge-blue: #bfd3c1ff;
--polished-pine: #68a691ff;
--eggplant: #694f5dff;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Style Script', cursive;
    background-color: #ffe5d4ff;
    line-height: 1.5;
    font-size: 1.7rem;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}


.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;

}

.navbar {
    height: 5em;
    background-color: #694f5dff;
    color: #fff;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar .container h1 {
    font-size: 1.8rem;
    font-weight: 100;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;

}

.navbar a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    color: #ffe5d4ff;
}

.header {
    background-color: #68a691ff;
    min-height: 400px;
}


.header img {
    padding: 10px;
    max-width: 300px;


}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header h1 {
    color: rgb(239, 218, 216);
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.1;
    text-shadow: 3px 1px 1px #000;
    flex-wrap: wrap;
}

.header ul {
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    color: #fff;
    font-family: 'Raleway', san-serif;
    font-size: 1.3rem;

}


.boxes .container {
    display: flex;
    justify-content: space-between;

}



.box {
    font-family: 'Raleway', san-serif;
    font-weight: thin;
    font-size: 1.2rem;
    flex: 1;
    background: #694f5dff;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    /* box-shadow: 0 3px 5px rgb(0 0 0 / 60%); */
    padding: 15px 20px;
}

.box img {
    object-fit: cover;
}

.box h2 {
    text-align: center;
    padding: 0px;
    margin-bottom: 15px;
}




@media (max-width: 768px) {
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .boxes .container {
        display: block;
        text-align: center;
    }
}